@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
	*{
		margin: 0;
		padding: 0;
		color: #454545;
	}
	.course-enroll .h1{
		width: 3%;
	    position: relative;
	    top: 60px;
	    left: 90%;
	    cursor: pointer;
	}
	.course-enroll h1:before{
		content: attr(data-count);
	    color: white;
	    position: absolute;
	    right: 16px;
	    font-size: 15px;
	    text-align: center;
	    top: -12px;
	    width: 20px;
	    height: 20px;
	    background: red;
	    border-radius: 50%;
	    opacity: 0;
	}
	.course-enroll h1.zero:before{
		opacity: 1;
	}
	.course-enroll{
			margin: 100px auto;
			width: 90%;
			height: 400px;
			display: flex;
			justify-content: space-around;
		}
		.course-enroll div{
			width: 22%;
			height: 93%;
			background:#f5f5f5;
			padding: 1%;
			position: relative;
		}
		.course-enroll img{
			width: 300px;
			height: 186px;
		}

		.course-enroll p{
			margin: 5px;
		}
		.course-enroll h6{
		    width: 50px;
		    padding: 5px;
		    margin: 10px;
		    font-size: 15px;
		}
		button{
			margin-top: 40px;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding:10px 20px;
		}
		.course-enroll div span{
			position: absolute;
		    top: 14px;
		    left: 13px;
		    background: red;
		    width: 300px;
		    height: 186px;
		    display: none;
		}
		.course-enroll div span img{
			width: 100%;
			height: 100%;
		}
		.course-enroll div:nth-child(1)>span.active{
			animation: first 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		.course-enroll div:nth-child(2)>span.active{
			animation: second 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		.course-enroll div:nth-child(3)>span.active{
			animation: third 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		.course-enroll div:nth-child(4)>span.active{
			animation: four 0.5s ease-in;
			z-index: 2;
			display: block;

		}
		@keyframes first{
			to{
				width: 30px;
			    height: 20px;
			    left: 1290px;
			    top: -70px;
			}
		}
		@keyframes second{
			to{
				width: 30px;
			    height: 20px;
			    left: 948px;
			    top: -70px;
			}
		}
		@keyframes third{
			to{
				width: 30px;
			    height: 20px;
			    left: 606px;
			    top: -70px;
			}
		}
		@keyframes four{
			to{
				width: 30px;
			    height: 20px;
			    left: 265px;
			    top: -70px;
			}
		}


		
		.select{
			width: 60%;
			height: 580px;
			padding: 5%;
			background: #222;
			position: absolute;
			top: -1000px;
			left: 20%;
			transition: 0.5s;
			overflow-y: auto;
			margin: auto;
		}
		.select.display{
			top: 10px;
		}
		.select .item{
			width: 100%;
			height: 200px;
			display: flex;
			padding: 5px;
			border: 1px solid white;
			position: relative;
			margin: 5px auto;
		}
		.select .item img{
			width: 300px;
			height: 100%;
		}
		.select div p{
			padding: 35px;
			color: white;
		}
		.select .item h6,
		.select .item button{
			position: absolute;
			left: 45%;
			top: 50%;
			color: white;
		}
		.select .item button{
			left: 60%;
			top: 55%;
		}
		.select .item span{
			display: none;
		}


.item{
	box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
	border-radius: 10px;
	margin-right: 70px;
	
}

.item img{
	border-radius: 10px 10px 0px 0px;
	
}

.item h2{
	text-align: center;
	margin-left: 50px;

}

.item button{
	margin-left: 80px;
}

.item p{
	padding: 3px;
    text-align: center;
	margin-left: 50px;
}


.course-enroll{
	margin-top: -70px;
	margin-bottom: 200px;
	
}

.course-enroll div{
padding-bottom: 29%;

}

