*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    width: 100%;
    background: #181818 ;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 16px 30px;
}

nav .logo{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto 0;
}

nav ul li{
    margin: 0 25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: 0.2s ease;
    border-radius: 10px;
    
}

nav ul li:hover a{
    background: #fff ;
    color: #181818;
    /* border: solid; */
    /* border-radius: 10px; */
    
}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px ;
    line-height: 35px;
}

nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 550px;
    /* border-radius: 10px; */

}

nav .search_box span{
    color: #181818;
    background: #fff;
    font-size: 25px;
    height: 100%;
    /* padding: 8px; */
    position: relative;
    cursor: pointer;
    z-index: 1;
}

/* nav .search_box span:hover{
    color: #fff;
} */

nav .search_box span::after{
    height: 100%;
    width: 100%;
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: 0.2s ease;
}

nav .search_box span:hover::after{
       width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;

}

a{
    text-decoration: none;
}



input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 1250px) {

    nav{
        display: block;
        padding: 0;
    }
    
    nav .logo{
        display: inline-block;
        padding: 15px 30px;
    }

    nav .search_box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .search_box input{
        width: 90%;
    }

    nav ul{
        display: flex;
        flex-direction: column ;
        background: rgba(48, 47, 47, 0.527);
        height: 0;
        visibility: hidden;
        transform: 0.2s;

    }

    nav ul li{
        text-align: center;
    }

    nav ul li a{
        color: #000;
        font-size: 29px ;
        padding: 25px;
        display: block;
    }

    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }

    nav .bar #times{
        display: none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    }
    
    #check:checked ~ nav .bar #bars{
        display: none;
    }

    #check:checked ~ nav ul{
        visibility: visible;
    }

}

/* hero banner */

.banner{
    background: url(img/92a752b4-2f5b-45c7-a451-d84b32ccb0cf.jpg);
    width: 100%;
    height: 43vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 45px;
    padding-left: 20px;

}

.banner-content{
    background-color: #fff;
    color: #000;
    width: 45%;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.banner-content span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;
}

.banner-content h1{
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
}

.banner-content p{
    margin-bottom: 30px;
    /* font-size: 18px; */
    letter-spacing: 1px;
}

.banner-content a{
    text-decoration: none;
    margin-right: 40px;
}

.banner-content .hero-btn-one{
    padding: 10px 30px;
    background-color: #000;
    color: white;
    font-weight: 500;
    border-radius: 20px;

}

.banner-content .hero-btn-two{
    padding: 10px 30px;
    background-color: #00D9BA;
    color: white;
    font-weight: 500;
    border-radius: 20px;

}


/* enrolled course slider */

.carousel-section{
    margin-top: 50px;
}

.carousel-title{
    text-align: center;
}

.border{
    width: 200px;
    height: 5px;
    background: #AE0D36;
    margin: 25px auto;
    
}

.carousel{
    /* background: #fafafa; */
    margin-left: 10px;
}

.carousel-cell{
    width: 30%;
    height: 150px;
    margin-right: 10px;
    background-color: #4d4f52;
    border-radius: 5px;
    /* counter-increment: carousel-cell; */
    display: flex;
    border-radius: 50px;
    
}

/* .carousel-cell:before{
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 400px;
    font-size: 80px;
    color: #fff;

} */

.course-img{
    width: 25%;
    /* background: red; */
    background-image: url(img/books.jpg);
    border-radius: 10px 0px 0px 10px;

}



.course-title{
    width: 75%;
    background-color: #EDEDED;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    
}

.flickity-page-dots{
    display: none;
}

/* footer */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 30px;
    padding-left: 60px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* Course Card */

.course-container{
    margin-top: 100px;
}


.course{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    margin-top: 25px;
    /* width: 100px; */
    /* position: absolute; */
}

.course h6{
    opacity: 0.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2{
    letter-spacing: 1px;
    margin: 10px 0;
}

.preview{
    background: #e40046;
    color: #fff;
    padding: 30px;
    width: 250px;
    position: relative;
}

.preview1{
    background: blue;
    color: #fff;
    padding: 30px;
    width: 250px;
    position: relative;
}

.preview a{
    color: #fff;
    font-size: 12px;
    opacity: .6;
    margin-top: 30px;
    text-decoration: none;
}

.info{
    padding: 30px;
    width: 100%;
    position: relative;    
}

.progress-wrappere{
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
    
}

.progress{
    background: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress-text{
    font-size: 15px;
    opacity: .6;
    letter-spacing: 1px;
}

.info p{
    font-size: 12px;
    font-weight: bold;
}

.btn{
    background: #e40046;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;

}

.btn1{
    background: blue;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
}

.btn:hover{
    background: #fff;
    color: #e40046;
    border: 1px solid #e40046;
    transform: scale(1.05);
}

@media (max-width:768px){
    .course{

        flex-direction: column ;
        width: 90%;

    }

    .preview{
        width: 100%;
    }

    .preview h2{
        margin: 10px 0 0 ;
    }

    .preview a{
        margin-top: 10px;
    }

    .info h2{
        margin-top: 20px;
    }

    .info p{
        margin-bottom: 50px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}

/* course collection */

.course-card-section{
    margin-top: 100px;
}

.main{

    margin: 2%;
   }
   
.main .card{
    width: 20%;
    display: inline-block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px; 
    margin: 2%;
   }

.main .image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   }

.main .title{
 
    text-align: center;
    padding: 10px;
    
   }

.mian h1{
    font-size: 20px;
   }

.main .des{
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding:10px 20px;
}

.main button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}