*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1c1d1f;
    color:white;
}
header{
    display: block;
    align-items: center;
    text-align: center;
    margin: 2rem;
}
.vid1{
    display: flex;
    margin: 2rem;
}
.text{
    margin: 2rem;
}
.vid2{
    display: flex;
    margin: 2rem;
}
.vid3{
    display: flex;
    margin: 2rem;
}
.vid4{
    display: flex;
    margin: 2rem;
}